{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}
{% extends "layout.html" %}
{% block title %}Functions Application{% endblock %}
{% block body_content %}
	
<div class="content-section">
			<br/>
			{{ utils.flashed_messages() }}
			<br/>
  	<div class="center">
			<h1 style="text-align:center;">Bank Account</h1>
         	<hr class="intro-divider">
        		<table class="table table-striped table-bordered">
          			<thead>
		                <tr>
		                  <th width="100%"> Value </th>
		                </tr>
          			</thead>
          			<tbody>
			                <tr>
			                  	<td> {{ value }} </td>
			                </tr>
          			</tbody>
				</table>
	</div>
</div>			

{% endblock body_content %}